.dash-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-user-form {
  display: flex;
  flex-direction: column;
}

.table-parent {
  padding: 20px;
}

.table-container {
  max-width: 95vw;
}
