.enquire-form-container {
  margin: 40px;
}

.enq-card-header {
  padding-left: 20px !important;
  background: black;
  color: white;
}

.enq-form-title {
}

.enquire-formc-container {
  display: flex;
  flex-direction: column;
}

.enquire-form {
  margin: 0px 20px;
}

.enq-submit-btn {
  margin-top: 20px !important;
  width: 100px;
}

.enq-img-container {
  padding: 40px 20px;
}

.enq-img-container > img {
  max-width: 100%;
}
