.image-grid {
  margin: 10px 0px;
}

.grid-item {
  margin: 5px 0px;
  overflow: hidden !important;
}

.image {
  width: 96%;
  max-width: 96%;
  height: 500px;
  padding: 0% 2%;
  transition: transform 1s;
}

.grid-item:hover > .image {
  transform: scale(1.2);
}

.portfolio-txt-item {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.port-sec-title {
  color: white !important;
  background: black !important;
  padding: 20px 10px;
  margin: 0px 9px;
  margin-top: 20px;
}
