.image-grid {
  margin: 40px 0px;
}

.grid-item {
  margin: 5px 0px;
  position: relative;
  overflow: hidden !important;
}

.image {
  width: 96%;
  max-width: 96%;
  height: 500px;
  padding: 0% 2%;
  transition: transform 1s;
}

.grid-item:hover > .image {
  transform: scale(1.2);
}

.portfolio-txt-item {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.portfolio-title {
  color: white;
  font-weight: 600;
  font-size: 1.5em;
  text-shadow: 3px 3px 7px rgba(150, 150, 150, 1);
}

.portfolio-desc {
  color: white;
  font-weight: 600;
  font-size: 1.1em;
  text-shadow: 3px 3px 7px rgba(150, 150, 150, 1);
}
