.team-container {
  margin: 40px 0px;
}

.team-card {
  display: flex;
  margin: 30px;
}

.team-profile-img {
  min-height: 250px;
  min-width: 250px;
}

.team-card-header {
  background: #000;
  color: white;
}

.member-name {
  font-family: "Satisfy", cursive !important;
}

.member-role {
  font-family: "KoHo", sans-serif !important;
  font-weight: 500 !important;
}

.member-summary {
  font-family: "KoHo", sans-serif !important;
  font-weight: 500 !important;
}

@media only screen and (max-width: 600px) {
  .team-card {
    display: block;
    margin: 20px 15px;
  }
}
