.logo-med {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #000 !important;
  font-family: "Satisfy", cursive !important;
}

.nav-item {
  font-size: 0.9em !important;
  color: #000 !important;
}
