.designer-section-title {
  font-size: 1.5em !important;
  font-family: "Satisfy", cursive !important;
  font-weight: 600 !important;
}

.designer-card-container {
  padding: 20px 30px;
}

.designer-section-details {
  font-family: "KoHo", sans-serif !important;
  color: black;
  font-weight: 500 !important;
}

.designer-summary {
  font-family: "KoHo", sans-serif !important;
  color: black;
  font-weight: 500 !important;
}

.designer-card-container-top {
  padding: 20px 0px;
}

.designer-name {
  font-family: "Satisfy", cursive !important;
}

.designer-role {
  font-family: "KoHo", sans-serif !important;
}

.designer-card {
  display: flex;
  height: 300px;
}

.designer-photo {
  height: 100%;
  width: 100%;
}

.desginer-se-det {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.designer-details {
  text-align: center;
}

.designer-actions {
  display: flex;
  justify-content: center;
  width: 100%;
}

.width-50 {
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .designer-card {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  .designer-photo {
    min-height: 100%;
    height: 250px;
    width: 100%;
  }

  .width-50 {
    width: 100%;
  }
}
