.designer-card-container {
  padding: 20px 30px;
}

.designer-card-container-top {
  padding: 20px 0px;
}

.designer-card {
  display: flex;
}

.designer-photo {
  height: 100%;
  width: 100%;
}

.desginer-se-det {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.designer-details {
  text-align: center;
}

.designer-actions {
  display: flex;
  justify-content: center;
  width: 100%;
}

.width-50 {
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .designer-photo {
    min-height: 100%;
    height: 250px;
    width: 100%;
  }

  .width-50 {
    width: 100%;
  }
}
